/*BARRA DE NAVEGAÇÃO*/
@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@300;500;600 & family= Roboto:ital,wght@0,100;0,300;0,400;0,700;1,500 & exibir=trocar');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    display: flex;
    background-color: #031836;
    justify-content: space-around;
    padding: 1rem 0;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px;
    border-radius: 50px;
}

/*
.header__logo {
    color: #ec0e0e;
    font-weight: 600;
}
*/

.top__bar {
    color: #eee;
    align-items: right;
}

.top__bar2 {
    color: #eee;
    align-items: left;
    color: #00adb5;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item{
    margin: 0 8px;
}

.nav__link {
    padding: 10px;
    color: #eeee;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 5px;
}

.nav__link:hover {
    background-color: #ffd700;
}

.header__toggle,
.header__close {
    display: none;
}

@media screen and (max-width: 768px) {
    header {
        height: 48px;
        justify-content: space-between;
        padding: 0 28px;
    }
    .logo a{
        font-size: 0.9rem;
    }
    .logo img {
        width: 30px;
    }
    .header__toggle {
        display: inline;
        color: #eeee;
        font-size: 24px;
    }
    .header__close {
        position: absolute;
        right: 24px;
        display: block;
        font-size: 24px;
        border-radius: 50%;
    }
    .header__close:hover {
        background-color: #00adb5;
    }
    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: #222831;
        color: #eeee;
        width: 60%;
        height: 100vh;
        padding: 24px 0;
        z-index: 100;
        transition: 0.5s;
        border-radius: 0 0 0 50%;
    }
    .nav__list {
        display: flex;
        flex-direction: column;
    }
    .nav__item{
        margin: 2rem 0;
    }
    .show {
        right: 0;
    }
}

/*SCROOL DE IMAGENS*/
article{
    display: flex;
    background: #031836;
    justify-content: space-around;
    padding: 1rem 0;
    align-items: center;
    display: flex;
}

.slider{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;

}

.manual-btn{
    border: 2px solid #00adb5;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #ffd700;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 2px solid #eee;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #eee;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #eee;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #eee;
}




